<% provide(:title, "場所の詳細: #{@place.description}") %>
<h1>場所の詳細: <%= @place.description %></h1>

<table border="1">
  <tr>
    <th>説明</th>
    <td><%= @place.description %></td>
  </tr>
  <tr>
    <th>緯度</th>
    <td><%= @place.latitude %></td>
  </tr>
  <tr>
    <th>経度</th>
    <td><%= @place.longitude %></td>
  </tr>
</table>

<p><%= image_tag("#{@place.id}.jpg", alt: @place.description, width: 320)%></p>

<%= link_to '場所の一覧へ戻る', places_path %></p>
